BasedOnStyle: Google
Language: Cpp
Cpp11BracedListStyle: true
IndentWidth: 2
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
AlignTrailingComments:  true
DerivePointerAlignment: false
PointerAlignment: Left
MaxEmptyLinesToKeep: 1
BreakConstructorInitializersBeforeComma: true
BinPackArguments: false
BinPackParameters: false
ReflowComments: true
SortIncludes: false